.category-content {
  width: auto;
  height: auto;
  padding: 1% 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 0.5fr));
  gap: 0.5rem;
}
.category-item {
  margin: 2%;
  border-radius: 25px;
  background-color: #fff;
  padding: 5% 0;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-item-image {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.category-details {
  width: 75%;
}
.category-type {
  height: 30px;
  width: fit-content;
  border-radius: 15px;
  border: none;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  font-size: 18px;
  margin: 5px 20px;
}
.category-main {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.category-dropdown {
  background-color: transparent;
  border: none;
  outline: none;
}
