.bottom-cart-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.bottom-cart {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
