.combo-container {
  height: auto;
  padding-left: 20px;
}
.combo-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 0.5rem;
  padding-left: 20px;
}
.combo-item {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
}
.combo-item-image {
  margin-right: 10px;
  height: 100px;
  width: 100px;
}
.combo-details {
  width: 50%;
  font-size: 18px;
}

@media (max-width: 426px) {
    .combo-container {
        height: auto;
        padding-left: 5px;
      }
      .combo-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        gap: 0.5rem;
        padding-left: 5px;
      }
      .combo-item {
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 20px;
      }
      .combo-item-image {
        margin-right: 10px;
        height: 100px;
        width: 100px;
      }
      .combo-details {
        width: 40%;
        font-size: 16px;
      }
}
