.navbar_main {
  margin: 0;
  width: auto;
  height: 100px;
  background-color: #12AD2B;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_text {
  height: 25px;
  width: 500px;
  font-size: 20px;
  border-radius: 1px;
  padding: 5px;
  outline: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid black;
  background-color: transparent;
}
.navbar_text::placeholder{
  color: #fff;
}
.navbar_logo {
  font-size: 48px;
}

.navbar_left {
  width: 80px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navbar-cart-button {
  position: relative;
  display: grid;
  place-items: center;
}

.navbar-cart {
  padding: 5px 5px;
  background-color: transparent;
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.navbar-cart-value {
  color: #fff;
  font-size: 10px;
  position: absolute;
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: bold;
}
.mobile_search-panel{
  display: none;
}
.navbar_searchbox {
  position: relative;
}


.search-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 500px;
  background-color: #fff;
  border: none;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
  scrollbar-width: none;
  z-index: 1000;
}

.search-item {
  margin: 1%;
  border-radius: 20px;
  width: auto;
  background-color: #fff;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-item:hover{
  background-color: #ccc;
}

.search-item-image {
  height: 75px;
  width: 75px;
  border-radius: 25px;
}

.search-details {
  width: 50%;
}

.search-type {
  height: 30px;
  width: fit-content;
  border-radius: 15px;
  border: none;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  font-size: 18px;
  margin: 5px 20px;
}

.search-main {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.category-dropdown {
  background-color: transparent;
  border: none;
  outline: none;
}

.profile {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  width: fit-content;
  top: 110px;
  right: 50px;
  z-index: 1000;
  background-color: #ffff3c;
  color: black;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item:last-child {
  border-bottom: none;
}
.navbar_left_mobile {
  display: none;
}
.navbar_left_desktop {
  width: 100%;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_search_text{
  display: none;
}
.instantBanner{
  width: 100%;
  height: 50px;
  display: grid;
  place-items: center;
}
/* Tablet styles */
@media (max-width: 768px) {
  .navbar_mobile_search{
    width: 40%;
  }
  .navbar_search_text{
    display: block;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 24px;
  }
  .navbar_main {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #12AD2B;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar_searchbox {
    display: none;
  }
  .navbar_logo {
    display: none;
  }
  .navbar_left_mobile {
    width: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar_left_desktop {
    display: none;
  }
  .mobile_search-panel{
    height: auto;
    max-height: 50%;
    margin-top: 1%;
    /* padding-top: 1%; */
    width: 60%;
    padding: 5% 2% 0% 2%;
    background-color: #F4C430;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    flex-direction: column;
  }
  .search-item {
    margin: 1%;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-item-image {
    height: 50px;
    width: 50px;
    border-radius: 5px;
  } 
  .search-details {
    width: 50%;
  }
  .search-type {
    height: 30px;
    width: fit-content;
    border-radius: 15px;
    border: none;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    font-size: 12px;
    margin: 5px 20px;
  }
}

/* @media (max-width: 426px){
  .navbar_main{
    width: 487px;
  }
} */
