/* customer support css is included here */
.customerSupport1{
    padding: 2%;
}
.profileScreen{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.profileScreen-main{
    height: 90%;
    width: 85%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: flex;
}
.profileScreen-left{
    display: flex;
    flex-direction: column;
    flex: 0.2;
    background-color: #12AD2B;
    color: #fff;
}
.profileScreen-left1{
    padding-left: 5%;
}
.profileScreen-leftSub{
    line-height: 2px;
}
.profileScreen-left hr{
    outline: none;
    border: none;
    background-color: #fff;
    width: 90%;
    height: 1.5px;
}
.profileScreen-left2 ul{
    line-height: 50px;
    list-style: none;
    font-weight: bold;
}
.profileScreen-left3{
    display: flex;
    justify-content: center;
}
.profileScreen-right{
    flex: 0.8;
}


